<div class="form-enter">
    <mat-form-field class="example-full-width" style="width: 60%">
        <input matInput placeholder="Add Todo task" name="name" #taskName>
    </mat-form-field>
    <button mat-mini-fab color="warn" (click)="addTask(taskName.value); taskName.value = ''">
          <i class="material-icons">add</i>
  </button>
</div>
<div class="container">
    <div *ngIf="tasks.length > 0">
        <mat-list class="item-list">
            <mat-list-item *ngFor="let task of tasks" [class.completed]="task.completed">
                <div *ngIf="task.id === editingId; else other_content">

                    <mat-form-field style="width: 180%">
                        <input matInput placeholder="Modify Todo task" name="editingName" [(ngModel)]="editingName" [required]="true" />
                    </mat-form-field>
                    <div class="wrapbutton">
                        <button mat-mini-fab color="accent" (click)="turnOffTaskEditing()">
                          <mat-icon>highlight_off</mat-icon>
                      </button>
                        <button mat-mini-fab color="primary" (click)="updateTask(task)">
                              <mat-icon>save</mat-icon>
                      </button>
                    </div>
                </div>
                <ng-template #other_content>
                    <mat-checkbox [checked]="check" (click)="toggleTaskCompleted(task)"></mat-checkbox>
                    <label><strong>Name:</strong> {{task.name}}</label>
                    <span class="wrapbutton">
                      <button mat-mini-fab color="primary" *ngIf="!task.completed" (click)="turnOnTaskEditing(task)">
                          <mat-icon>mode_edit</mat-icon>
                      </button>
                      <button mat-mini-fab color="warn" (click)="deleteTask(task)">
                          <mat-icon>delete_forever</mat-icon>
                      </button>
                  </span>
                </ng-template>

            </mat-list-item>
        </mat-list>
        <br />
        <hr>
        <br />
        <div>
            <strong>{{tasks.length}}</strong> {{tasks.length == 1 ? 'thing' : 'things'}} on the list...
            <span *ngIf="unfinished" class="unfinished"><strong>{{unfinished}}</strong> {{unfinished == 1 ? 'thing' : 'things'}} unfinished</span>
            <span *ngIf="finished" class="finished"><strong>{{finished}}</strong> {{finished == 1 ? 'thing' : 'things'}} finished</span>
        </div>
    </div>
</div>